<nav class="navbar navbar-light bg-white border-bottom px-4">

    <h4 class="mb-0">Dashboard</h4>

    <div class="dropdown">

        <a class="btn btn-light dropdown-toggle"
           data-bs-toggle="dropdown">

            {{ request.user.username }}

        </a>

        <ul class="dropdown-menu dropdown-menu-end">

            <li>
                <a class="dropdown-item"
                   href="{% url 'logout' %}">
                    Logout
                </a>
            </li>

        </ul>

    </div>

</nav>