<div class="sidebar bg-dark text-white">

    <div class="logo p-3 border-bottom">
        <h4 class="m-0">🍽 RMS</h4>
    </div>

    <ul class="nav flex-column mt-3">

        <li class="nav-item">
            <a href="{% url 'dashboard:home' %}" class="nav-link text-white">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'restaurant:settings' %}" class="nav-link text-white">
    <i class="bi bi-shop"></i>
    Restaurant
</a>
        </li>

        <li class="nav-item">
    <span class="nav-link text-white fw-bold">
        <i class="bi bi-grid"></i> Tables
    </span>

    <ul class="nav flex-column ms-4">

        <li class="nav-item">
            <a href="{% url 'tables:area-list' %}" class="nav-link text-white">
                Dining Areas
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'tables:table-list' %}" class="nav-link text-white">
                Restaurant Tables
            </a>
        </li>

    </ul>
</li>

<li class="nav-item">

    <span class="nav-link text-white fw-bold">
        <i class="bi bi-journal-text"></i> Menu
    </span>

    <ul class="nav flex-column ms-4">

        <li class="nav-item">
            <a href="{% url 'menu:category-list' %}" class="nav-link text-white">
                Categories
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'menu:item-list' %}" class="nav-link text-white">
    Menu Items
</a>
        </li>

    </ul>

</li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="bi bi-receipt"></i> Orders
            </a>
        </li>
        <li class="nav-item">
    <a href="{% url 'orders:floor-view' %}" class="nav-link text-white">
        <i class="bi bi-grid-3x3-gap"></i>
        Floor View
    </a>
</li>

        <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'billing:dashboard' %}">
        <i class="bi bi-receipt"></i>
        <span>Billing</span>
    </a>
</li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="bi bi-bar-chart"></i> Reports
            </a>
        </li>

    </ul>

</div>